{{>header }}
<h1>Weather</h1>
<div class="weather-area">
  <form>
    <input type="text" placeholder="enter your location" />
    <button type="submit">Search</button>
    <p id='first-msg'></p>
    <p id="second-msg"></p>
  </form>
</div>
{{>footer}}